body{
  background-image: url(../img/bg2.jpg);
  color:aliceblue
}
/* #messages-list, */
.note-content,
.note-header,
.note-buttons {
  display: flex;
}
#messages-list {
  width: 100vw;
  /* flex-wrap: 1; */
}
.note {
  border: 1px solid black;
  max-width: 450px;
  margin-left: 15px;
  /* padding:10px; */
  max-height: 250px;
  min-width:250px;
  display: inline-block;
}
.note-content-left img {
  max-height: 100px;
  width: 100px;
  size: auto;
}
.note-content-left {
  text-align: center;
  min-width:150px;
}
.note-content-right{
    padding:10px;
    overflow-y: auto;
    height: 190px;;
}
.empty,
.note-titre {
  flex-grow: 1;
}
.note-titre {
  text-align: center;
}
.note-buttons img {
  width: 24px;
  height: 24px;
}
.note-buttons {
  text-align: right;
  width: 100%;
  background-color: blue;
}
#jsLoaded{
    background-color: tomato;
    color: white;
    font-weight: 900;
    font-size: 28pt;
    text-align: center;
}

.note-content-left  img{
  max-height: 60px;
  width:60px;
  size:auto;
}
.note-header{
  padding: 0 10px;
}
.note-content{
  padding-bottom:8px ;
}